<div class="row">
  
  <div class="col-md-6">
    <h2><i class="fa fa-list"></i> Reviews</h2>
  </div>
  
</div>

<table *ngIf="reviews?.length > 0; else noReviews" class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Brewery</th>
      <th>Review</th>
      <th>Reviewer Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let review of reviews">
      <td>{{ review.breweryName }}</td>
      <td>{{ review.breweryReview }}</td>
      <td>{{ review.email }}</td>
    </tr>
  </tbody>
</table>

<ng-template #noReviews>
  <hr>
  <h5>There are no reviews at this time</h5>
</ng-template>
