<div class="row">
  
  <div class="col-md-10">
    <h2><i class="fa fa-list"></i> Reviews</h2>
  </div>

  <div class="col-md-2">
    <a routerLink="/reviews/add" class="btn btn-success btn-block"><i class="fa fa-plus">New</i></a>
  </div>
  
</div>
    
<table *ngIf="reviews?.length > 0; else noReviews" class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Brewery</th>
      <th>Review</th>
      <th>Reviewer Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let review of reviews">
      <td>{{ review.breweryName }}</td>
      <td>{{ review.breweryReview }}</td>
      <td>{{ review.email }}</td>
      <td><a routerLink="reviews/{{ reviews.id }}" class="btn btn-secondary btn-small"><i class="fa fa-arrow-circle-o-right"></i> Details</a></td>
    </tr>
  </tbody>
</table>


<ng-template #noReviews>
  <hr>
  <h5>There are no reviews at this time</h5>
</ng-template>
