<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back to Reviews
    </a>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a routerLink="/reviews/edit/{{ id }}" class="btn btn-light">Edit
      </a>
      <button (click)="onDeleteClick()" class="btn btn-light">Delete</button>
    </div>

  </div>
</div>
<hr>
<div *ngIf="review" class="card">
  <h3 class="card-header">Brewery Name: {{ review.breweryName }}</h3>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">Brewery Review: {{ review.breweryReview }}</div>
    </div>
    <hr>
    <div class="col-md-6">Reviewer Email: {{ review.email }}</div>  
  </div>  
</div>


